.material-icons {
    font-size: 38px;
    margin-right: 30px;
    color: white
}

.icon {
    margin-top: 10px;
}

.icon span {
    background: #f00;
    padding: 4px 7px 4px 7px;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    vertical-align: top;
    margin-left: -50px;
    margin-right: 30px;
    ;
}

.icon:hover {
    opacity: .7;
}

.notifi-box {
    width: 300px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 63px;
    right: 35px;
    transition: 1s opacity, 250ms height;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #264653;
    border-radius: 5%;
    border: 1px solid #eee;
    z-index: +100;
}

.notifi-box h2 {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999;
}

.notifi-box h2 span {
    color: #f00;
}

.notifi-box h3 {
    color: #eee;
    text-align: center;
    font-size: 15px;
    margin-top: 50%;
}

.notifi-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.notifi-item:hover {
    background-color: #eee;
}

.notifi-item img {
    display: block;
    height: 80px;
    margin-right: 10px;
    border-radius: 50%;
}

.notifi-item .contains_text h4 {
    color: #777;
    font-size: 16px;
    margin-top: 10px;
}

.notifi-item .contains_text p {
    color: #aaa;
    font-size: 12px;
}

.notifi-box a {
    text-decoration: none;
}