.offre {
    text-align: left;
    width: 300px;
    padding: 0px 20px 20px 20px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
}

h3 {
    text-align: left;
}

#container-map-selector {
    width: 300px;
    height: 300px;
    left: 0;
    right: 0;
    margin: auto;
    display: absolute;
}

.invisible {
    visibility: hidden;
}

.map_display {
    width: 350px;
    height: 350px;
    left: 0;
    right: 0;
    margin: auto;
}