#logo {
    height: 30px;
    margin: 0px;
    padding: 0px;
}

.rubriques {
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.rubriquesearch {
    margin-left: 30px;
}

.rubriquecolor {
    color: white;
}

h1,
h2,
h3 {
    text-align: center;
}

.new_offer {
    width: 800px;
    top: 0;
    left: 0;
    margin: auto;
    display: block;
    text-align: center;
}

textarea {
    resize: none;
}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}

th {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

tr {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
}