@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.main {
    height: 30px;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0;
    left: 0
}

.main2 {
    width: 35%;
    padding: 0px;
    position: relative;
    top: 0;
    left: 0
}

.ball {
    height: 28px;
    position: absolute;
    margin: 0px;
    top: 0.5px;
    left: 113px;
}

.ball2 {
    height: 49%;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 49%;
    left: 59.2%;
}

.articleimg {
    width: 200px;
}

.logo {
    position: absolute;
    padding: 0px;
    top: 13px;
    left: 13px;
}

.logo2 {
    width: 100%;
    position: relative;
    padding: 0px;
    margin-bottom: 30px;
}

.logo:hover .ball {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.logo2:hover .ball2 {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

#logologin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    margin-bottom: 50px;
}

.rubriques {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    background-color: #264653;
}

.rubriquesearch {
    margin-left: 30px;
}

.rubriquecolor {
    color: white;
    margin-left: 250px;
}

h1,
h2,
h3 {
    text-align: center;
}

.new_offer,
.filter {
    width: 1000px;
    top: 0;
    left: 0;
    margin: auto;
    display: block;
    text-align: center;
}

table.tableoffer {
    font-family: "Open Sans", sans-serif;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.tableoffer td,
table.tableoffer th {
    padding: 10px 10px;
}

table.tableoffer tbody td {
    font-size: 15px;
}

table.tableoffer tr:nth-child(even) {
    background: #D0E4F5;
}

table.tableoffer th {
    background: #2A9D8F;
}

table.tableoffer th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
}

table.tableoffer th th:first-child {
    border-left: none;
}

table.tableoffer td {
    font-size: 14px;
}

table.tableoffer .links {
    text-align: right;
}

table.tableoffer .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}