<<<<<<< HEAD
iframe {
    width: 25vw;
    height: 30vh;
    ;
}

.preview {
    display: none;
    position: absolute;
    z-index: +100;
    margin-top: 5%;
    margin-left: -7%;
    background-color: white;
}

a:hover+.preview {
    display: block;
    animation: fade 0.5s ease forwards
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
=======
.preview {
    display: none;
    position: absolute;
    border: 1px solid #000;
    width: 400px;
    height: 400px;
>>>>>>> web_design
}