.preview {
    display: none;
    position: absolute;
    z-index: +100;
    margin-top: 5%;
    margin-left: -7%;
}

a:hover+.preview {
    display: block;
    animation: fade 0.5s ease forwards
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}